

.etl__buttons__wrap {
	width: 100%;
	text-align: center;
	margin: 0 0 20px 0;

	.btn {
		width: 80%;
		max-width:300px;
	}
}

.etl__process_phase {
	text-align: center;
	margin: 0 auto 20px;
	border: 2px solid #000;
	padding: 15px 20px;
	position: relative;

	.menu__confirm-buttons {
		margin-top:20px;
	}
}

.etl__process_steps {
	
	.menu__confirm-buttons {
		margin-top:0;
	}
}

.etl__process_phase-title {
	padding-bottom:10px;

	span {
		display: inline-block;
		background-image: linear-gradient(to right, black, black);
	  	background-position: 0 1.1em;
	  	background-repeat: repeat-x;
	  	background-size: 10px 2px;
	  	padding-bottom:4px;
	  	font-weight: 700;
	}	
}